<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-10">
                <form #docregister="ngForm" (ngForm)="Dregister()">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h1 align="center">DOCTOR REGISTRATION</h1>
                <label for="" class="form label">NAME</label>
                <input type="text" class="form-control">
                <label for="" class="form label">REGISTRATION NUMBER</label>
                <input type="text" class="form-control">
                <label for="" class="form label">DEPARTMENT</label>
                <select name="" id="" class="form-control">
                    <option value="SELECT">SELECT</option>
                    <option value="General Medicine">General Medicine</option>
                    <option value="Pediatrics">Pediatrics</option>
                    <option value="Cardiology">Cardiology</option>
                    <option value="Dermatology">Dermatology</option>
                </select>
                <label for="" class="form label">USERNAME</label>
                <input type="text" class="form-control">
                <label for="" class="form label">PASSWORD</label>
                <input type="password" name="" id="" class="form-control">
                <label for="" class="form label">CONFIRM PASSWORD</label>
                <input type="password" name="" id="" class="form-control">
                <button type="button" class="btn btn-primary">REGISTER</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

