<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-10">
               <form #register="ngForm" (ngSubmit)="Pregister()">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <h1 align="center" style="background-color: #75E6DA;">PATIENT REGISTRATION</h1>
                <label for="" class="form label">NAME</label>
                <input type="text" class="form-control" [(ngModel)]="dataa.patientName" name="patient name">
                <label for="" class="form label">AGE</label>
                <input type="text" class="form-control" [(ngModel)]="dataa.patientAge" name="patient age">
                <label for="" class="form label">PHONE NUMBER</label>
                <input type="text" id="" class="form-control" [(ngModel)]="dataa.patientPhonenumber" name="phone number">
                <label for="" class="form label">USERNAME</label>
                <input type="text" class="form-control" [(ngModel)]="dataa.patientUsername" name="username">
                <label for="" class="form label">PASSWORD</label>
                <input type="password" name="" id="" class="form-control" [(ngModel)]="dataa.patientPassword" name="password">
                <br><br><button class="btn btn-primary">REGISTER</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


