<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-10">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                 <h1 align="center">DOCTOR'S HOMEPAGE</h1>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                 <h1 align="center">LOGIN</h1>
                 <label for="" class="form label">USERNAME</label>
                 <input type="text" class="form-control">
                 <label for="" class="form label">PASSWORD</label>
                 <input type="password" name="" id="" class="form-control">
                <button type="button" class="btn btn-primary">SIGN IN</button>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h1 align="center">REGISTER</h1>
                <label for="" class="form label">NAME</label>
                <input type="text" class="form-control">
                <label for="" class="form label">REGISTRATION NUMBER</label>
                <input type="text" class="form-control">
                <label for="" class="form label">PASSWORD</label>
                <input type="password" name="" id="" class="form-control">
                <label for="" class="form label">CONFIRM PASSWORD</label>
                <input type="password" name="" id="" class="form-control">
                <button type="button" class="btn btn-primary">REGISTER</button>
                </div>
            </div>
        </div>
    </div>
</div>
