<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-10">
                <form>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                 <h1 align="center">ADMIN LOGIN</h1>
                 <label for="" class="form label">USERNAME</label>
                 <input type="text" class="form-control">
                 <label for="" class="form label">PASSWORD</label>
                 <input type="password" name="" id="" class="form-control"><br><br>
                 <button type="button" class="btn btn-primary">SIGN IN</button>
                </div>
               </form>
            </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <br><br><h3 align="center">LOGIN AND REGISTRATION (PATIENT AND DOCTOR)</h3>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" align="center">
        <br><br><br><a routerLink="/p"><button type="button" class="btn btn-primary">PATIENT</button></a><br><br>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" align="center">
        <br><br><br><a routerLink="/d"><button type="button" class="btn btn-primary">DOCTOR</button></a>
        </div>
    </div>
</div>

