<div class="container">
    <div class="row">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <h1 align="center">WELCOME DOCTOR!!!</h1>
      </div>
      <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h3 align="left">REGISTRATION NUMBER:1001</h3>
      </div>
      <div class="row g-3">
       <div *ngFor="let i of data2" class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <div class="card">
                <img height="250px" src="https://thumbs.dreamstime.com/b/man-profile-cartoon-smiling-round-icon-vector-illustration-graphic-design-135443422.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{i.patientName}}</h5>
                  <p class="card-text">{{i.patientAge}}</p>
                  <p class="card-text">NEXT APPOINTMENT DATE:14/09/2022</p>
                  <a routerLink="" class="btn btn-primary">VIEW PRESCRIPTION</a>
                </div>
          </div>
       </div>
      </div>
    </div>
</div>
