<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <h1 align="center">WELCOME DOCTOR!!!</h1>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h2>NAME:XXXX</h2>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h2 align="right">REGISTRATION NUMBER:1001</h2>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <img height="250px" src="https://thumbs.dreamstime.com/b/man-profile-cartoon-smiling-round-icon-vector-illustration-graphic-design-135443422.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dr. MANOJ KRISHNAN</h5>
                  <p class="card-text">ENT, Head, Neck & Skull Base Surgeon</p>
                </div>
              </div>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <img height="250px" src="https://thumbs.dreamstime.com/b/man-profile-cartoon-smiling-round-icon-vector-illustration-graphic-design-135443422.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dr. MANOJ KRISHNAN</h5>
                  <p class="card-text">ENT, Head, Neck & Skull Base Surgeon</p>
                </div>
              </div>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <img height="250px" src="https://thumbs.dreamstime.com/b/man-profile-cartoon-smiling-round-icon-vector-illustration-graphic-design-135443422.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dr. MANOJ KRISHNAN</h5>
                  <p class="card-text">ENT, Head, Neck & Skull Base Surgeon</p>
                </div>
              </div>
        </div>
    </div>
</div>
